.webcam-capture-wrapper,
.recorded-video {
  margin: auto;
  width: 50vw;
  box-sizing: border-box;
  text-align: center;
  position: relative;

  & .webcam-view {
    width: 50vw;
    height: auto;
  }

  & button {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
